node_modules/
dist/
.env
mobile/node_modules/
mobile/android/app/build/
mobile/android/.gradle/
mobile/android/build/
mobile/android/capacitor-cordova-android-plugins/build/
mobile/android/local.properties
.DS_Store
